body {
    background: #6c373f;
    display: flex;
    justify-content: center;
    }
  
  #swirly-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
      "a1 . ."
      ". a2 ."
      ". . a3";
  }
  
  #swirly1 {
    grid-area: a1;
  }
  
  #swirly2 {
    grid-area: a2;
  }
  
  #swirly3 {
    grid-area: a3;
  }